In [40]:
#CONSTANTS
init_year = '1970'

In [41]:
#FUNCTIONS
def get_relevant_years(df):
    try:
        return df[df['DATE'] > init_year]
    except:
        return df[df['Date'] > init_year]

In [73]:
#IMPORTS
import pandas as pd
from functools import reduce

In [43]:
#Reading in tax info
tax = pd.read_csv('IncomeTaxRates.csv')

In [44]:
#get_relevant_years(tax)

In [45]:
#Reading in Funds Rate
funds_rate = pd.read_csv('MonthlyFundsRate.csv')

In [54]:
#get_relevant_years(funds_rate)

In [47]:
#Reading in Oil CPI
oil_cpi = pd.read_csv('MonthlyOilCPI.csv')

In [48]:
#get_relevant_years(oil_cpi)

In [49]:
#Reading in S&P 500 data
snp = pd.read_csv('MonthlySNPInfo.csv')

In [50]:
#get_relevant_years(snp)

In [51]:
gdp = pd.read_csv('RealQuarterlyGDP.csv')

In [52]:
#get_relevant_years(gdp)

In [39]:
unemployment = pd.read_csv('QuarterlyUnemploymentSeasonllyAdjusted.csv')
#get_relevant_years(unemployment)

In [106]:
#dfs = [tax, funds_rate, oil_cpi, snp, gdp, unemployment]
dfs = [get_relevant_years(funds_rate), get_relevant_years(oil_cpi), get_relevant_years(tax), get_relevant_years(unemployment), get_relevant_years(gdp)]

In [104]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on='DATE', how='outer'), dfs)

In [105]:
df_merged

,DATE,funds_rate,oil_cpi,high_tax_rate,low_tax_rate,unemployment,real_gdp
0,1954-07-01,0.80,12.5,NaN,NaN,NaN,2559.397
1,1954-08-01,1.22,12.5,NaN,NaN,NaN,NaN
2,1954-09-01,1.06,12.5,NaN,NaN,NaN,NaN
3,1954-10-01,0.85,12.6,NaN,NaN,NaN,2609.272
4,1954-11-01,0.83,12.6,NaN,NaN,NaN,NaN
5,1954-12-01,1.28,12.6,NaN,NaN,NaN,NaN
6,1955-01-01,1.39,12.6,91.00,20.000,NaN,2683.766
7,1955-02-01,1.29,12.6,NaN,NaN,NaN,NaN
8,1955-03-01,1.35,12.7,NaN,NaN,NaN,NaN
9,1955-04-01,1.43,12.7,NaN,NaN,NaN,2727.452
10,1955-05-01,1.43,12.7,NaN,NaN,NaN,NaN
11,1955-06-01,1.64,12.7,NaN,NaN,NaN,NaN
12,1955-07-01,1.68,12.7,NaN,NaN,NaN,2764.128
13,1955-08-01,1.96,12.7,NaN,NaN,NaN,NaN
14,1955-09-01,2.18,12.8,NaN,NaN,NaN,NaN
15,1955-10-01,2.24,12.8,NaN,NaN,NaN,2780.762
16,1955-11-01,2.35,12.8,NaN,NaN,NaN,NaN
17,1955-12-01,2.48,12.9,NaN,NaN,NaN,NaN
18,1956-01-01,2.45,13.0,91.00,20.000,NaN,2770.032
19,1956-02-01,2.50,13.0,NaN,NaN,NaN,NaN
20,1956-03-01,2.50,13.1,NaN,NaN,NaN,NaN
21,1956-04-01,2.62,13.1,NaN,NaN,NaN,2792.872
22,1956-05-01,2.75,13.2,NaN,NaN,NaN,NaN
23,1956-06-01,2.71,13.3,NaN,NaN,NaN,NaN
24,1956-07-01,2.75,13.3,NaN,NaN,NaN,2790.588
25,1956-08-01,2.73,13.3,NaN,NaN,NaN,NaN
26,1956-09-01,2.95,13.3,NaN,NaN,NaN,NaN
27,1956-10-01,2.96,13.5,NaN,NaN,NaN,2836.238
28,1956-11-01,2.88,13.6,NaN,NaN,NaN,NaN
29,1956-12-01,2.94,13.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
858,1917-01-01,NaN,NaN,67.00,2.000,NaN,NaN
859,1918-01-01,NaN,NaN,77.00,6.000,NaN,NaN
860,1919-01-01,NaN,NaN,73.00,4.000,NaN,NaN
861,1920-01-01,NaN,NaN,73.00,4.000,NaN,NaN
862,1921-01-01,NaN,NaN,73.00,4.000,NaN,NaN
863,1922-01-01,NaN,NaN,58.00,4.000,NaN,NaN
864,1923-01-01,NaN,NaN,43.50,3.000,NaN,NaN
865,1924-01-01,NaN,NaN,46.00,1.500,NaN,NaN
866,1925-01-01,NaN,NaN,25.00,1.125,NaN,NaN
867,1926-01-01,NaN,NaN,25.00,1.125,NaN,NaN
868,1927-01-01,NaN,NaN,25.00,1.125,NaN,NaN
869,1928-01-01,NaN,NaN,25.00,1.125,NaN,NaN
870,1929-01-01,NaN,NaN,24.00,0.375,NaN,NaN
871,1930-01-01,NaN,NaN,25.00,1.125,NaN,NaN
872,1931-01-01,NaN,NaN,25.00,1.125,NaN,NaN
873,1932-01-01,NaN,NaN,63.00,4.000,NaN,NaN
874,1933-01-01,NaN,NaN,63.00,4.000,NaN,NaN
875,1934-01-01,NaN,NaN,63.00,4.000,NaN,NaN
876,1935-01-01,NaN,NaN,63.00,4.000,NaN,NaN
877,1936-01-01,NaN,NaN,79.00,4.000,NaN,NaN
878,1937-01-01,NaN,NaN,79.00,4.000,NaN,NaN
879,1938-01-01,NaN,NaN,79.00,4.000,NaN,NaN
880,1939-01-01,NaN,NaN,79.00,4.000,NaN,NaN
881,1940-01-01,NaN,NaN,81.10,4.400,NaN,NaN
882,1941-01-01,NaN,NaN,81.00,10.000,NaN,NaN
883,1942-01-01,NaN,NaN,88.00,19.000,NaN,NaN
884,1943-01-01,NaN,NaN,88.00,19.000,NaN,NaN
885,1944-01-01,NaN,NaN,94.00,23.000,NaN,NaN
886,1945-01-01,NaN,NaN,94.00,23.000,NaN,NaN
887,1946-01-01,NaN,NaN,86.45,19.000,NaN,NaN